* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Medium.ttf') format('ttf');
    font-weight: medium;
    font-style: normal;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* Header & Navigation */
header {
    display: flex;
    justify-content: space-between; 
    align-items: end;
    background-color: #fff;
    padding: 0; 
    max-width: 1024px;
    margin: 0 auto; 
}
.header__logo {
    display: flex;
    align-items: baseline;
    grid-column: 1;
    justify-content: flex-start;
    margin-right: 14%;
    margin-bottom: 1%;
}

.header__brand-name {
    
    font-size: 1rem;
    font-weight: medium;
    color: #4D4D4D; 
    margin: 0;
    padding: 0;
}


.header__brand-logo {
    width: 2rem;
    height: 1rem;
    
}

.header__nav {
    display: flex;
    justify-content: flex-end; 
    flex-grow: 1; 
}


.header__nav-list {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    list-style: none;
}

    .header__nav-item {
        flex-grow: 1;
        text-align: center;
        width: 134px; 
        height: 96px;
    }

.header__nav-link {
    display: flex;
    justify-content: left; 
    align-items: flex-end; 
    color: #fff;
    font-size: 16px;
    font-weight: medium;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 13px; 
    height: 100%; 
}

.header__nav-item--home {
    background: #25C389; 
}

.header__nav-item--portfolio {
    background: #FFB901; 
}

.header__nav-item--blog {
    background: #DE6262; 
}

.header__nav-item--quo-vadis {
    background: #19B2DE; 
}

.header__nav-item--chat {
    background: #265787; 
}

.header__nav-link span{
    padding-left: 7px;
    font-weight: 100;
}

.hero__tag.metro {
     border-left: 8px solid #19B2DE; 
     width: 172px;
     height: 64px;

    }
.hero__tag.quick {
     border-left: 8px solid #DE6262; 
     width: 236px;
     height: 64px;
     flex-shrink: 0;
    }
.hero__tag.styling {
     border-left: 8px solid #FFB901; 
     width: 315px;
     height: 64px;
     flex-shrink: 0;
    } 

.main__screen-banner {
    width: 100%; 
    max-width: 1024px; 
    margin: 0 auto; 
}
.main__screen-banner img {
    width: 100%;
    height: auto; 
}
.hero {
    position: relative;
    width: 100%;
}

.minionbuttons {
    position: absolute;
    top: 30%; 
    left: 30%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    flex-direction: column;
}


.hero__tag {
    display: flex;
    width: 272px; 
    height: 64px; 
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    color: #3C3C3C;
    background: rgba(255, 255, 255, 0.80);
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.announcement {
    max-width: 1024px; /* Match header width */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center the text */
    padding: 20px 0; /* Add spacing */
}

.announcement h2 {
    font-family: Ubuntu;
    font-size: 34px;
    font-weight: normal;
    color: #3B3B3B; /* Default text color */
}

.announcement h2 b {
    color: #1EAFDE; /* Blue for Metrolics */
}
.services {
    padding: 40px 0;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
.services h2 {
   font-family: Ubuntu;
   font-size: 28px;
   color: #494949;
   line-height: normal;
   padding: 1%;
}

.services h3 {
    font-family: Ubuntu;
    font-size: 18px;
    color: #545454;
    line-height: normal;
    padding: 8%;
 }

.services p {
    font-family: Ubuntu;
    font-size: 12px;
    color: #A3A3A3;
    line-height: 1.6rem;
 }

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.service-item {
    padding: 20px;
}
.service-item p {
    color: #939393;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

.service-icon {
    display: flex;
    width: 84px; /* Ensure a fixed size */
    height: 84px; /* Ensure a fixed size */
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}
.service-icon.bulb{
    border-radius: 2px;
    border: 3px solid #FEB902;
    padding: 2%;

}
.service-icon.camera{
    border-radius: 2px;
    border: 3px solid #25C389;
    padding: 2%;
}
.service-icon.finger{
    border-radius: 2px;
    border: 3px solid #DE6262;
    padding: 2%;
}
.service-icon.draw{
    border-radius: 2px;
    border: 3px solid #1596BD;
    padding: 2%;
}

/* Responsive Breakpoints */


/* Small only (up to 39.9375em / 639px) */
@media screen and (max-width: 39.9375em) {
    header {
        flex-direction: column;
        align-items: start;
        padding: 0;
        width: 100%;
    }

    .header__logo {
        margin: 1rem ;
        justify-content: flex-start;
    }

    .header__nav {
        display: none;
    }

    .header__nav-list {
        display: none;
    }

    .header__nav-item {
        display: none;
    }
   .hero{
    display: none;
   }
   .announcement{
  padding: 5%;
   }
   
    .services-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }


}

/* Medium and up (min-width: 40em / 640px) */
@media screen and (min-width: 40em) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__logo {
        margin: 0.5rem ;
        justify-content: center;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .header__nav {
        width: 100vw;
    }
}

/* Medium only (40em-63.9375em / 640px-1023px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .header__nav-item {
        width: 110px;
    }

    .hero__tag {
        width: 80%;
    }

    .announcement h2 {
        font-size: 28px;
    }

    .services h2 {
        font-size: 24px;
    }
}
/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 Core Styling
        1.3 Typography
    2. LAYOUT
        2.1 Core Layout
        2.2 Small only
        2.3 medium and up
        2.4 Medium only
        2.5 large screens and up
        2.6 Large only
    3. MODULES
    4. STATES
    5. THEME
    6. UTILITY classes
    7. PRINT

    refer to http://smacss.com/
    ========================================================================== */


/* ==========================================================================
   BASE
   ========================================================================== */
   /*1.1 Page Rendering Defaults*/





   /*1.2 Core Styling*/





   /*1.3 Typography*/


            p {
                color:#ffff;
                font-family: 'Ubuntu', sans-serif;
   }


/* ==========================================================================
  2. LAYOUT
   ========================================================================== */
  /* 2.1 Core Layout*/


 /* 2.2 Small only */


 /*2.3 medium and up*/


 /*2.4 Medium only*/


 /*2.5 large screens and up*/



/*2.6 Large only*/


/* 2.2 Small only */
@media screen and (max-width: 39.9375em) {
    .footer_instagram_container{
        display:none;
    }
    .footer_about_container{
        display:none ;
    }
    .footer_profile_container {
        padding: 32px;
        display: flex;
        align-items: center;
        gap: 32px;
      }
      
      .profile_image {
        display: block;
        width: 96px;
        height: 96px;
        flex-shrink: 0;
      }
      
      .footer_profile_text {
        width: 256px;
        flex-shrink: 0;
      }
      .footer_track_container{
        display: flex;
   
      }
      .footer_mastodon_container{

        
      }
}
/* 2.3 Medium and up */
@media screen and (min-width: 40em) {
    
    /*.footer_profile_container{
        display: flex;
        padding:32px 32px  32px 32px;
        align-items: center; 
        gap:32px;
    }
    .profile_line {
        width:118px;
        height: 3px;
        background: #FFB901;
       margin-left:176px;
    }
   

    .footer_about_container{
        display: flex;
        width:292px;
        height: 256px;
        flex-direction: column;
        align-items: flex-start;
        gap:10px;
        flex-shrink:0;
    }
    .about_text_container{
        height:246px;
        flex-shrink:0;
        align-self: stretch;
    }
    .footer_instagram_container{
        display: flex;
        width:292px;
        flex-direction: column;
        align-items: flex-start;
        gap:10px;
    }
    .instagram_header{
        height:14px;
        align-self: stretch;
    }
    .instagram_image_divider{
    }
    .instagram_image_container{
        display: flex;
        align-items: inline-start;
        align-content: flex-start;
        gap:16px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    .instagram_image{
        width:61px;
        height:64px;
        border-radius: 2px;
        border:1px solid #E1E1E1;
    }
    .footer_mastodon_container{
        display:flex;
        width:395px;
        height: 335px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink:0;
    }
   
        .mastodon_header{
            align-self: stretch;
        }
        .mastodon_image_divider{
            flex-shrink:0;
        }
        
    .footer_masodon_text{
        align-self: stretch;
        text-align: justify;

    }
    .footer_track_container{
        width: 176px;
        flex-shrink: 0;
    }
    */
}
/* 2.4 Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {}
/* 2.4 Large and up */
@media screen and (min-width: 64em) {
.footer_profile_container{
    display: flex;
    width: 760px;
    margin-left: 208px;
    padding: 32px;
    align-items:center;
    gap: 32px;
}
.profile_image{
    width:170px;
    height: 147px;
    margin-top: 28px;
    border: -22, -3.5, -30, -26;
}
.profile_text_container{
    width: 546px;
    height:72px;
}
.profile_line {
    display:flex;
    width: 118px;
    height:3px;
    background: #FFB901;
    margin-left: 445px; 
}
.footer_column_container{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap:32px;
margin-left: 208px;
margin-right: 208px;
}

}

/*.about_header{
    display: grid;
    margin-left: 208px;

}
.about_image_divider{
    display: inline-block;
    margin-left: 208px;
}
.about_text_container{
    display: inline-block;
    width: 232px;
    height: 252px;
    margin-left: 208px;
}
.instagram_header{
    display: inline-block;
    
}
.footer_about_container{
    grid-column-start: 1;
}*/



/* 2.6 Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {}
/* ==========================================================================
    3. MODULES
   ========================================================================== */









/* footer*/
.about_header {
    color:#FFB901;
}
.instagram_header {
    color:#DE6262;
}
.mastodon_header {
    color: #19B2DE;
}
.track_header{
    color:#ffff;
}
/*email input*/
 .email_input {
    background:#DE6262;
 }
 .submit_input{
    background: #FFB901;
 }


.track_submit_icon {
    width:17px;
    height: 16px;
}
/* ==========================================================================
     4. STATES
   ========================================================================== */





    


/* ==========================================================================
       5. THEME
   ========================================================================== */


/* ==========================================================================
       6.   UTILITY classes
   ========================================================================== */



   /* ==========================================================================
      7. PRINT
   ========================================================================== */

